{#
/**
 * @file form_entity.html.twig
 * Default theme implementation to present Form entity data.
 *
 * This template is used when viewing Form entity pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_form_entity()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('form_entity') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
